<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login or Sign In</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <div class="background">
      <div class="form-container">
        <div class="form-group">
          <p class="welcome-message">Welcome User</p>
        </div>
        <div class="form-group">
          <a href="/login" class="form-button">Login</a>
        </div>
        <div style="margin-bottom: 10px"></div>
        <div class="form-group">
          <p class="signin-message">Don't have an account? Sign In</p>
          <div class="form-group">
            <a href="/signin" class="form-button">Sign In</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
